* {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0rem;
    padding: 0rem;
}

html {
    /* border: .1rem solid red; */
}

body {
    /* border: .1rem solid #4000ff; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    /* border: .1rem solid #00ff48; */
    height: 4rem;
    background-color: #252323;
    color: #eee;
    padding: .5rem;
    display: flex;
    align-items: center;
    align-content: center;
}

.logo {
    border: .1rem solid blue;
    padding: .7rem;
    width: 1rem;
    height: 1rem;
    background-color: blue;
    border-radius: 100%;
    font-weight: bold;
    margin-right: .7rem;
    display: flex;
    align-items: center;
    align-content: center;
}

section {
    /* border: .1rem solid #ccd214; */
    display: flex;
    flex: 1;
}

nav {
    /* border: .1rem solid #e69108; */
    width: 12rem;
    background-color: #eee;
}

main {
    /* border: .1rem solid #e6088d; */
    flex: 1;
}

footer {
    /* border: .1rem solid rgb(9, 214, 246); */
    height: 4rem;
    background-color: #252323;
    color: #eee;
    padding: .5rem;
}

